/*768px-481px*/

@media(max-width:619px){
  .index_section{
    height: 300px;
  }
  .footer{
    padding: 30px 50px;
  }
  .about_section{
   padding: 30px;
  }
  .nav_section_img{
    display: none;
  }

  .contact_box{
    justify-content: center;
    padding-inline: 40px;
  }
  .contact_and_form{
    width: 300px;
    padding: 20px;
  }
  .mode_article{
    width: 30px;
  height: 30px;
  }
  .light,.dark{
    font-size: 20px;
  }

  .index_section_title{
    font-size: 20px;
  }
  
}

@media(max-width:481px){
  .container{
    padding-top: 70px;
  }
  .header{
    padding: 10px;
  }
  .header_nav{
    top: 70px;
  }
  .logo{
    width: 100px;
  }
  .search{
    width: 150px;
    height: 35px;
  }
  .about_title{
    font-size: 20px;
  }
  .about_text{
    display: none;
    font-size: 15px;
  }
  .h5{
    font-size: 15px;
  }
  .footer_li_link{
    font-size: 15px;
  }
  .nav_section{
    align-items: center;
    text-align: center;
  }
  .footer{
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  .icon_and_nav_section{
    align-items: center;
  }
  .about_article{
    text-align: center;
  }
  .index_section_title{
    font-size: 15px;
  }
  
}